@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
  --main-font: 'Roboto', sans-serif;
  --light-grey: #bbb;
}
*{
  box-sizing: border-box;
}
html, body{
  padding: 0;
  margin: 0;
}
body{
  font-family: var(--main-font);
  color: #172A3A;
}
body, .App{
  min-height: 100vh;
  height: 100%;
}
.App{
  display: flex;
  flex-flow: column;
  background-color: hsl(0, 0%, 97%);
}

.main-header {
  background-color: #446DF6;
  color: white;
  font-size: 1.5rem;
  padding: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}

.subhead {
  display: grid;
  grid-template-columns: .2fr .8fr;
  height: 45px;
  font-size: 1.3rem;
  font-weight: 500;
  border-bottom: 2px solid var(--light-grey);
  color: #08A4BD;
}
.subhead > *{
  display: flex;
  align-items: center;
  padding-left: 15px;
  height: 100%;
}
.config{
  border-right: 2px solid var(--light-grey);
}
.main-content{
  display: grid;
  grid-template-columns: .2fr .8fr;
  flex-grow: 1;
}